<style>
	.myBtn {
		width: 90%;
		margin: 25px;
	}
	.myBtn > .btnName {
		margin-top: -10px;
	}
	.inlineBtn {
		margin-top: 15px;
		margin-bottom: 25px !important;
		display: inline-block !important;
	}
</style>
<div class="row col-md-6 col-md-offset-3">
	<div class="jumbotron">
		<h1>
			Create a Type
		</h1>
		<div ng-if="ty.message" class="alert alert-warning messageBox" role="alert">
			{{ ty.message }}
		</div>
		<form ng-submit="ty.createType()">
			<div class="form-group">
				<label>
					Name
				</label>
				<input type="text" autocorrect="off" autocapitalize="none" class="form-control" ng-model="ty.sendType.name">
				<br>
				<label>
					Select a mode:
				</label>
				<br>
				<div class="btn btn-primary inlineBtn" ng-click="ty.toggleMode(true, false)">
					Command Mode
				</div>
				<div class="btn btn-primary inlineBtn" ng-click="ty.toggleMode(false, true)">
					Measurement Mode
				</div>
				<br>
				<div ng-if="ty.comMode">
					<label>
						Commands:
					</label>
					<div class="btn {{ command.color }} myBtn" ng-repeat="command in ty.commands" ng-click="ty.selectCom(command)">
						<div class="btnName">
							<h3>{{ command.name }}</h3>
						</div>
					</div>
				</div>
				<div ng-if="ty.mesMode">
					<label>
						Measurements:
					</label>
					<div class="btn {{ measurement.color }} myBtn" ng-repeat="measurement in ty.measurements" ng-click="ty.selectMes(measurement)">
						<div class="btnName">
							<h3>{{ measurement.name }}</h3>
						</div>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-block btn-primary">
				<span ng-if="!ty.processing">
					Create
				</span>
				<span ng-if="ty.processing" class="spinner">
					<span class="glyphicon glyphicon-repeat">
					</span>
				</span>
			</button>
		</form>
	</div>
</div>