<div class="row col-md-6 col-md-offset-3">
	<div class="jumbotron">
		<h3>
			Send Message
		</h3>
		<form ng-submit="msg.sendMessage()">
			<div class="alert alert-warning" ng-if="msg.message">
				{{ msg.message }}
			</div>
			<div class="form-group">
				<label>
					To: 
				</label>
				<input type="text" autocorrect="off" autocapitalize="none" class="form-control" ng-model="msg.templateMessage.sendTo">
			</div>
			<div class="form-group">
				<label>
					Message:
				</label>
				<input type="text" autocorrect="off" autocapitalize="none" class="form-control" ng-model="msg.templateMessage.value">
			</div>
			
			<button type="submit" class="btn btn-block btn-primary">
				<span ng-if="!msg.processing">
					Send
				</span>
				<span ng-if="msg.processing" class="spinner">
					<span class="glyphicon glyphicon-repeat">
					</span>
				</span>
			</button>
		</form>
	</div>
</div>